<!DOCTYPE html>
<html>
<head>
  <title>CartApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %>
<%= link_to "Items", items_path %>

<span style="text-align:right">
 <%= form_tag "/items/find" do %>
    <%= text_field_tag :search_string %>
    <%= submit_tag "Search" %>
 <% end %>
</span>

<%= yield %>

</body>
</html>
