<h1>Listing search results</h1>
<table>
<tr>
<th>Item Name</th>
<th>Item Price</th>
<th>Quanity</th>
<th>Category</th>
<th></th>
<th></th>
<th></th>
</tr>

<% @items.each do |item| %>
<tr>
  <td><%= item.item_name %></td>
  <td><%= item.item_price %></td>
  <td><%= item.item_quanity %></td>
  <td><%= item.item_category %></td>
  <td><a href= "/cart/<%= item.id %>">Add Item to Cart</a></td>
</tr>
<% end %>
</table>